@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
.header{
    background: rgba(94, 74, 227, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}
.logo{
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-left: 30px;
}
.chat_logo{
    width: 15vw;
    height: 4vh;
    margin-left: 30px;
}
.logout{
    margin-right: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 500;
}
.content{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 91.3vh;
}
.groups{
    width: 30%;
    background: rgba(94, 74, 227, 0.87);
    padding-right: 100px;
}
.group_logo{
    display: flex;
    align-items: center;
    
    font-family: 'Poppins', sans-serif;
    color: white;
    /* border: 1px solid white; */
    font-size: 1.0rem;
    font-weight: 600;
    
}

.margin{
    margin-top: 0.8rem;
    margin-left: 2rem;
    margin-right: 3rem;
}
.grp_name{
    /* background: rgba(69, 55, 166, 1); */
    font-family: 'Poppins', sans-serif;
    color: white;
}
.items{
    line-height: 20px;
    padding-left: 2rem;
    padding: 4px 20px; 
    background: rgba(69, 55, 166, 1);
    border-color: rgba(69, 55, 166, 1);
}
.messages{
    background: rgba(230, 230, 230, 1);
    width: 100%;
}

/*Login Page*/
.login_form{
    /* background: rgba(94, 74, 227, 0.87); */
    /* border: 1px solid white; */
    
    padding-left: 37%;
    padding-top: 18%;
}
.form{
    display: flex;
    flex-direction: column;
    width: 25vw;
    /* padding-left: 40%;
    padding-top: 20%; */
    padding: 29px 15px;
    font-family: 'Poppins', sans-serif;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    border-color: rgba(69, 55, 166, 1);
}
form input{
    padding: 6px 10px;
    
    border: none;
}
form button{
    margin-top: 10px;
    padding: 6px;
    color: white;
    border: none;
    background: rgb(114, 118, 239);
}
form button:hover{
    cursor: pointer;
    border: 1px solid rgba(69, 55, 166, 1);
}